<table class="table-orders-book table table-hover table-sm table-sm-sm fs-10 fw-light">
  <thead>
    <tr>
      <th 
        class="fw-light"
        width="30%">
        Price
      </th>
      <th 
        class="fw-light"
        width="30%">
        Total
      </th>
      <th 
        class="fw-light"
        width="40%">
        Amount
      </th>
    </tr>
  </thead>
  <tbody>
    <tr 
      *ngFor="let obItem of data; let obIdx = index;" 
      [ngStyle]="{
        'background-image': calcPercentage(obItem),
        'transition': 'all 1s'
      }">
      <td>{{ obItem.price | numberWithSpace }}</td>
      <td>{{ obItem.total | numberWithSpace }}</td>
      <td>{{ obItem.amount | numberWithSpace }}</td>
    </tr>
  </tbody>
</table>